/* Títulos, textos y demás */
body {
    background-color: black;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color:white;
    text-decoration: underline;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color:white;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color:white;
}

p {
    font-family: 'Raleway', sans-serif;
    color:white;
}

a {
    font-family: 'Raleway', sans-serif;
    color:white;
}

ul {
    font-family: 'Raleway', sans-serif;
    background-color: black;
}

/* Líneas de subte */
#linea_a {
    color: rgb(0, 204, 255);
}

#linea_b {
    color: red;
}

#linea_c {
    color: rgb(9, 9, 199);
}

#linea_d {
    color: green;
}

#linea_e {
    color: purple;
}

#linea_f {
    color: rgb(255, 0, 106);
}

/* Imagen y su texto */
#teatro_colon {
    width: 854px;
    height: 490px;
}

#imagen {
    display: flex;

}

/* Formulario */
#formulario {
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    padding-left: 30px;
    padding-right: 1px;
    margin: 10px;
}

input {
    color: white;
    background-color: black;
    border: 1px solid;
    font-family: 'Raleway', sans-serif;
    
}